
%p
  %form{:action => '/', :method => 'POST'}
    %div Enter your email address:
    %div
      %input{:name => "email"}
    %div And your current location:
    %div
      %input{:name => "location"}
  
    %input{:type => 'submit', :value => 'Try it out!'}