
%form.big{:action => '/', :method => 'POST'}
  %div Enter your email address:
  %div
    %input.text{:name => "email"}
  %div And your current location:
  %div
    %input.text{:name => "location"}
  %div
    Email Token:
    %small (if you're already in the system)
  %div
    %input.text{:name => "token"}
    .float_right.small
      %a{:onclick => "document.href='/request_reset/'+prompt(\"What's your email?\");"} Help! I forgot my token!

  %input.submit{:type => 'submit', :value => 'Ka-Pow!'}