/index.haml
%form.big{:action => '/', :method => 'post'}
  %div Enter your email address:
  %div
    .error= @email && @email.errors.on(:name)
    %input.text{:name => "email"}
  %div And your current location:
  %div
    .error= @email && @email.location && @email.location.errors.on(:coordinates)
    %input.text{:name => "location"}
  %div.token{:style => @token_required || "display: none;"}
    Email Token:
    %small (if you're already in the system)
    %div
      %input.text{:name => "token"}
      .float_right.small
        %a{:onclick => "document.href='/request_reset/'+prompt(\"What's your email?\");"} Help! I forgot my token!

  %input.submit{:type => 'submit', :value => 'Ka-Pow!'}