
%form.big{:action => '/', :method => 'POST'}
  %div Enter your email address:
  %div
    %input.text{:name => "email"}
  %div And your current location:
  %div
    %input.text{:name => "location"}

  %input.submit{:type => 'submit', :value => 'Try it out!'}